{% extends "base.html" %}

{% block content %}
<!-- This contains the default page with a hero image and intro text -->

<div class="container">
    <div class="row">
        <h1 style="text-align: center; margin-bottom: 40px;">The Otter Mill</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="" alt="" class="hero-image">
        </div>
        <div class="col-12 col-lg-6 about">
            <h2>About Us</h2>
            <p>
                Established in 1965 by award-winning chef, Tam Spraggins, The Otter Mill specialises in traditional Scottish cuisine with a few modern twists.<br>
                Our menus change with the seasons - we pride ourselves on using locally sourced ingredients primarily from the Hebrides, Small Isles and Lochaber.<br>
                We offer a cosy, intimate dining experience on the shores of Loch Linnhe, 5 minutes drive from Ballachulish town centre. 
            </p>
        </div>
    </div>
</div>

 {% endblock %}