{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.number_of_guests.id_for_label }}" class="center-label">{{ form.number_of_guests.label }}</label>
        {{ form.number_of_guests }}
        {{ form.number_of_guests.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.date.id_for_label }}" class="center-label">{{ form.date.label }}</label>
        {{ form.date }}
        {{ form.date.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.time.id_for_label }}" class="center-label">{{ form.time.label }}</label>
        {{ form.time }}
        {{ form.time.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.duration.id_for_label }}" class="center-label">{{ form.duration.label }}</label>
        {{ form.duration }}
        {{ form.duration.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.special_reqs.id_for_label }}" class="center-label">{{ form.special_reqs.label }}</label>
        {{ form.special_reqs }}
        {{ form.special_reqs.errors }}
    </div>
    <button id="submitButton" type="submit" class="btn">Submit</button>
</form>
{% endblock %}