{% extends "base.html" %}
{% load static %}
{% block main_class %} class="main-image"{% endblock %}
{% block content %}
<h1 id="reservation-list-header">Bookings for {{ user.username }}</h1>
<br>
{% if object_list %}
  {% for booking in object_list %}
  <div id="reservation-list" class="d-flex flex-column rounded">
    <div>
      <p>Time: {{ booking.time }}</p>
      <p>Date: {{ booking.date }}</p>
      <p>Duration: {{ booking.duration }} hour(s)</p>
      <p>Table: {{ booking.table.table_id }}</p>
      <p>No. of guests: {{ booking.number_of_guests }}</p>
      <p>Booked on: {{ booking.created_on }}</p>
      <p>Special reqs: {{ booking.special_reqs }}</p>
    </div>

    <div class="d-flex justify-content-center">
      <form method="post" action="{% url 'delete_reservation' booking.id %}" class="delete-reservation" id="delete-reservation-button">
        {% csrf_token %}
        <!-- Clicking delete sends a POST request to delete the associated booking -->
        <!-- JS event handler will throw a modal to confirm before deletion -->
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
      <!-- Clicking edit sends a POST request to amend the associated booking -->
      <!-- JS event handler will throw a modal to confirm before update -->
      <a href="{% url 'edit_reservation' booking.id %}" class="btn btn-warning btn-sm edit-reservation" id="edit-reservation-button">Edit</a>
    </div>
  </div>
  {% endfor %}
{% else %}
  <p>You have no bookings.</p>
{% endif %}
{% endblock %}