{% extends 'base.html' %}

{% load static %}

<!-- Sets the main element class to main-image to render the background  -->
{% block main_class %} class="main-image"{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<form method="post" id="reservation-form">
    {% csrf_token %}
    <h1 class="text-center">Booking</h1>
    <div class="mb-3">
        <label for="{{ form.number_of_guests.id_for_label }}">{{ form.number_of_guests.label }}</label>
        {{ form.number_of_guests }}
    </div>
    <div class="mb-3">
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        {{ form.date }}
    </div>
    <div class="mb-3">
        <label for="{{ form.time.id_for_label }}">{{ form.time.label }}</label>
        {{ form.time }}
    </div>
    <div class="mb-3">
        <label for="{{ form.duration.id_for_label }}">{{ form.duration.label }}</label>
        {{ form.duration }}
    </div>
    <div class="mb-3">
        <label for="{{ form.special_reqs.id_for_label }}">{{ form.special_reqs.label }}</label>
        {{ form.special_reqs }}
    </div>
    <button id="submit_booking_button" type="submit" class="btn">Submit</button>
</form>

{% endblock %}