{% extends "base.html" %}
{% load static %}
{% block main_class %} class="main-image"{% endblock %}
{% block content %}
<!-- <h1 id="reservation-list-header">Bookings for {{ user.username }}</h1> -->
 <h1 id="reservation-list-header">Bookings for {{ user.first_name }} {{ user.last_name }}</h1>
<br>
{% if object_list %}
  {% for booking in object_list %}
  <div id="reservation-list" class="d-flex flex-column rounded">
    <div>
      <p><span class="reservation-data-label">Time: </span>{{ booking.time }}</p>
      <p><span class="reservation-data-label">Date: </span>{{ booking.date }}</p>
      <p><span class="reservation-data-label">Duration: </span>{{ booking.duration }} hour(s)</p>
      <p><span class="reservation-data-label">Table: </span>{{ booking.table.table_id }}</p>
      <p><span class="reservation-data-label">No. of guests: </span>{{ booking.number_of_guests }}</p>
      <p><span class="reservation-data-label">Booked on: </span>{{ booking.created_on }}</p>
      <p><span class="reservation-data-label">Special reqs: </span>{{ booking.special_reqs }}</p>
    </div>

    <div class="d-flex justify-content-center">
      <form method="post" action="{% url 'delete_reservation' booking.id %}" class="delete-reservation" id="delete-reservation-button">
        {% csrf_token %}
        <!-- Clicking delete sends a POST request to delete the associated booking -->
        <!-- JS event handler will throw a modal to confirm before deletion -->
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
      <!-- Clicking edit sends a POST request to amend the associated booking -->
      <!-- JS event handler will throw a modal to confirm before update -->
      <a href="{% url 'edit_reservation' booking.id %}" class="btn btn-warning btn-sm edit-reservation" id="edit-reservation-button">Edit</a>
    </div>
  </div>
  {% endfor %}
{% else %}
  <p>You have no bookings.</p>
{% endif %}
{% endblock %}