/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

/* Variables */
:root {
    --headings-font: "Eagle Lake", cursive;
    --main-font: "Gudea", sans-serif;
    --primary-color: cadetblue;
    --secondary-color: bisque;
}


/* Global Styles */
body {
    background-color: cadetblue;
    font-family: var(--main-font);
}

h1, h2, h3, h4 {
    font-family: var(--headings-font);
}

nav {
    background-color:aliceblue;
}

footer {
    font-size: smaller;
    margin-bottom: 10px;
}

footer i {
    color: black;
}

/* Custom styling for homepage */
.about {
    border: solid 4px var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

/* .about p {
    font-size: small;
} */

/* Custom styling for reservation_form.html */

/* Limits the size of form fields */
form {
    margin-left: 50px;
    margin-right: 50px;
}

form h1 {
    text-align: center;
}

.small_form_field {
    max-width: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form_text_area {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.center-label {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: solid black 2px;
    color: black;
    background-color: white;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

/* Media Queries */

/* Medium screens (tablet, 768px and up) */
@media screen and (min-width: 768px) {
    .about p {
        font-size: large;
    }
}