{% extends "base.html" %}

{% load static %}

{% block main_class %} class="main-image"{% endblock %}

{% block content %}

<h1 id="menu-list-header">Menu</h1>
<div class="d-flex flex-column">
    <div class="menu-section">
        <h3 class="text-center">Starters</h3>
        <table id="starters-table" class="table">
            <thead>
                <tr>
                    <th class="item-col" scope="col">Dish</th>
                    <th class="price-col" scope="col">Price (£)</th>
                </tr>
            </thead>
            {% for item in object_list %}
            {% if item.type == 0 %}
            <tbody>
                <td class="item-col">{{ item.name }}</td>
                <td class="price-col">{{ item.price|floatformat:2 }}</td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="menu-section">
        <h3 class="text-center">Mains</h3>
        <table id="mains-table" class="table">
            <thead>
                <tr>
                    <th class="item-col" scope="col">Dish</th>
                    <th class="price-col" scope="col">Price (£)</th>
                </tr>
            </thead>
            {% for item in object_list %}
            {% if item.type == 1 %}
            <tbody>
                <td class="item-col">{{ item.name }}</td>
                <td class="price-col">{{ item.price|floatformat:2 }}</td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="menu-section">
        <h3 class="text-center">Desserts</h3>
        <table id="desserts-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Dish</th>
                    <th class="price-col" scope="col">Price (£)</th>
                </tr>
            </thead>
            {% for item in object_list %}
            {% if item.type == 2 %}
            <tbody>
                <td>{{ item.name }}</td>
                <td class="price-col">{{ item.price|floatformat:2 }}</td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="menu-section">
        <h3 class="text-center">Drinks</h3>
        <table id="drinks-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Drink</th>
                    <th class="price-col" scope="col">Price (£)</th>
                </tr>
            </thead>
            {% for item in object_list %}
            {% if item.type == 3 %}
            <tbody>
                <td>{{ item.name }}</td>
                <td class="price-col">{{ item.price|floatformat:2 }}</td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}